@tailwind base;
@tailwind components;
@tailwind utilities;
header{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.logo > img{
    width: 150px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.movie-result img{
    border-radius: 6px;
    height: 100%;
}
.CircularProgressbar .CircularProgressbar-path{
    stroke: #21d07a !important;
}